body {
  background-color: #defcf9;
}
h1{
  color: #ffaaa5;
}
h3{
  color: #ffaaa5;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: white;
  border-width: 5px;
  width: 5%

}
img {
  height: 150px;
}
